

nav {
  height: 300px;
  background-color: white;
  border-bottom: 1px, solid lightgrey;
}

nav ul {
  list-style-type: none;
  float: right;
  padding-left: 0px;
  max-width: 976px;
  margin: 0 auto;
}

nav ul li {
  display: inline-block;
  margin: 3px;
  border: 0px, solid black;
}

nav ul li a {
  color: black 
  font-family: Helvetica;
  font-size: 18px;
  font-weight: 120;
  text-decoration: none;
}

/*nav ul li a h2 {
  border: 0px, solid-black

}*/

.logo {
  margin: 0 auto;
  vertical-align: center;
}


.go-left {
  float: left;
}

.logo {
  float: left;
}